
h1 {
    font-size: 4.22222222em;
    line-height: 1.06578947em;
    margin-top: 0.35526316em;
    margin-bottom: 0.71052632em;
}

h2 {
    font-size: 2.61111111em;
    line-height: 1.14893617em;
    margin-top: 0.57446809em;
    margin-bottom: 0.57446809em;
}

h3 {
    font-size: 1.61111111em;
    line-height: 1.86206897em;
    margin-top: 0.93103448em;
    margin-bottom: 0em;
}

h4 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

h5 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

p, ul, ol, pre, table, blockquote {
    margin-top: 0em;
    margin-bottom: 1.5em;
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
}
  
/* Let's make sure all's aligned */
hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}

a, b, i, strong, em, small, code {
    line-height: 0;
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}
